/*! All Rights Reserved. Copyright 2012 (C) TOYOTA  MOTOR  CORPORATION.
Last Update: 2012/10/24 */

html,
body {
  overflow: hidden;
}

div#header {
  height: 10px;
}

div#body {
  width: 100%;
  height: auto;
}

div#footer {
  position: absolute;
  bottom: 10px;
}

div#contents {
  width: 100%;
}

div#tab_body_repair,
div#tab_body_ncf,
div#tab_body_ewd,
div#tab_body_brm {
  width: 100%;
  height: 467px;
  _height: 497px;
}

div#repair_head,
div#ncf_head,
div#ewd_head,
div#brm_head {
  clear: both;
  position: relative;
  width: 100%;
  height: 28px;
}

div#repair_main,
div#ncf_main,
div#ewd_main,
div#brm_main {
  clear: both;
  position: relative;
  width: 100%;
  height: 100%;
}

div#repair_tree_frame,
div#ncf_tree_frame,
div#ewd_tree_frame,
div#brm_tree_frame {
  position: absolute;
  left: 0px;
  height: 26px;
  border: 1px solid #A0A0A0;
  background: url(../img/png/mtrx_bg.png) repeat-x;
}

div#repair_body_frame,
div#ncf_body_frame,
div#ewd_body_frame,
div#brm_body_frame {
  height: 26px;
  border: 1px solid #A0A0A0;
  border-width: 1px 1px 1px 0px;
  background: url(../img/png/mtrx_bg.png) repeat-x;
}

div#repair_tree_root,
div#ncf_tree_root,
div#ewd_tree_root,
div#brm_tree_root {
  position: absolute;
  left: 0px;
  height: 100%;
  border: 1px solid #DDDDDD;
  border-width: 0px 1px 1px 1px;
}

div#repair_body_root,
div#ncf_body_root,
div#ewd_body_root,
div#brm_body_root {
  height: 100%;
  border: 1px solid #DDDDDD;
  border-width: 0px 1px 1px 1px;
}

div.tree_view_area_190px {
  width: 190px;
}

div.tree_view_area_350px {
  width: 350px;
}

div.tree_view_area_none {
  display: none;
}

div.paragraph_view_area {
  margin: 0px 0px 0px 191px;
}

div.paragraph_view_area_half {
  margin: 0px 0px 0px 351px;
}

div.paragraph_view_area_all {
  margin: 0px 0px 0px 0px;
}

div#repair_tree,
div#ncf_tree,
div#ewd_tree,
div#brm_tree {
  width: 100%;
  height: 100%;
  overflow: auto;
}

div#repair_body,
div#ncf_body,
div#ewd_body,
div#brm_body {
  width: 100%;
  height: 100%;
}

iframe#repair_body_contents,
iframe#ncf_body_contents,
iframe#ewd_body_contents,
iframe#brm_body_contents {
  width: 100%;
  height: 100%;
}

div#repair_pub_id,
div#ncf_pub_id,
div#ewd_pub_id,
div#brm_pub_id {
  float: left;
  width: auto;
  height: 26px;
  line-height: 26px;
  font-weight: bold;
  text-indent: 14px;
  color: #FFFFFF;
}

div#repair_head img,
div#ncf_head img,
div#ewd_head img,
div#brm_head img {
  display: block;
}

a#repair_tree_close,
a#ncf_tree_close,
a#ewd_tree_close,
a#brm_tree_close {
  display: block;
  float: right;
  margin: 2px 2px 2px 2px;
  cursor: pointer;
}

div.tool_icon_left {
  float: left;
  padding: 0px 0px 0px 6px;
  width: auto;
  height: 26px;
}

div.tool_icon_right {
  float: right;
  padding: 0px 6px 0px 0px;
  width: auto;
  height: 26px;
}

div.tool_icon_left a {
  display: block;
  float: left;
  margin: 2px 0px 2px 0px;
  cursor: pointer;
}

div.tool_icon_center a {
  display: block;
  margin: 2px 0px 2px 0px;
  cursor: pointer;
}

div.tool_icon_right a {
  display: block;
  float: left;
}

div.tool_icon_left a.invisible {
  display: none;
}

div.tool_icon_center a.invisible {
  display: none;
}

div.tool_icon_right a.invisible {
  display: none;
}

a#ncf_print,
a#ncf_print_g,
a#ewd_print,
a#ewd_print_g,
a#brm_print,
a#brm_print_g {
  margin: 2px 0px 2px 4px;
}

a#ncf_history_back,
a#ncf_history_back_g,
a#ewd_history_back,
a#ewd_history_back_g,
a#brm_history_back,
a#brm_history_back_g {
  margin: 2px 0px 2px 4px;
}

a#repair_all_process_expand,
a#repair_all_process_close,
a#repair_print,
a#repair_history_back,
a#ncf_print,
a#ncf_history_back,
a#ewd_print,
a#ewd_history_back,
a#brm_print,
a#brm_history_back {
  cursor: pointer;
}

a#repair_all_process_expand_g,
a#repair_all_process_close_g,
a#repair_print_g,
a#repair_history_back_g,
a#ncf_print_g,
a#ncf_history_back_g,
a#ewd_print_g,
a#ewd_history_back_g,
a#brm_print_g,
a#brm_history_back_g {
  cursor: pointer;
}

div#tab_body_ewd {
  width: 100%;
/*
  height: 467px;
  _height: 497px;
*/
  height: 561px;
  _height: 588px;
}

